* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image: linear-gradient(109.6deg, #fad47d, #f38977);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  height: 70vh;
  gap: 5rem;
}
.desc {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

desc div {
  max-width: 70%;
}

.desc p {
  margin-top: 1rem;
  font-size: 20px;
  font-style: italic;
  font-weight: 350;
}

.title {
  /* padding: 3px 15px;
    font-size: 35px;
    background-color: white;
    border-radius: 15px;
    color: rgb(75, 75, 75);*/
  color: rgb(68, 64, 59);
  font-size: 70px;
  font-weight: 700;
}

.images {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

img {
  width: 13rem;
}

image {
  max-width: 100%;
  height: auto;
}

.login,
.signup {
  min-width: 400px;
  height: 400px;
  background: white;
  border-radius: 15px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}
.login h1,
.signup h1 {
  text-align: center;
  padding: 20px 0;
  color: rgb(68, 64, 59);
}
.login form,
.signup form {
  padding: 0 40px;
  box-sizing: border-box;
}
form .text {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}

div .choose {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}
.text input,
.choose select {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  color: rgb(48, 47, 47);
  border: none;
  background: none;
  outline: none;
}
.text label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: 0.5s;
}
.text span::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #f38977;
  transition: 0.5s;
}
.text input:focus ~ label,
.text input:valid ~ label {
  top: -5px;
  color: #f38977;
}
.text input:focus ~ span::before,
.text input:valid ~ span::before {
  width: 100%;
}

input[type="submit"] {
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: linear-gradient(109.6deg, #fad47d, #f38977);
  border-radius: 25px;
  font-size: 18px;
  color: white;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}
input[type="submit"]:hover {
  border-color: #f38977;
  transition: 0.5s;
}
.signup-text,
.login-text {
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
}
.signup-text a,
.login-text a {
  color: #f38977;
  text-decoration: none;
}
.signup-text a:hover,
.login-text a:hover {
  text-decoration: underline;
}

@media (max-width: 1250px) {
  img {
    display: none;
  }
}

@media (max-width: 950px) {
  .container {
    flex-direction: column;
  }

  .desc {
    width: 90%;
  }

  .images {
    display: none;
  }
}

@media (max-width: 750px) {
  .container {
    gap: 2rem;
  }
  .desc p {
    display: none;
  }

  .title {
    text-align: center;
  }

  .login {
    min-width: 370px;
  }
}

@media (max-width: 500px) {
  .container {
    gap: 1rem;
  }

  .login {
    min-width: 340px;
  }
}
